.readme{style: 'min-height: 340px; padding: 30px; padding-top: 10px'}
  %h1 
    wwedu.github.com
  %p 
    %br/
  .alert.alert-error FOR WWEDU STAFF ONLY!
  %h1
    Issues

  %p
    <a href='https://github.com/wwedu/wwedu.github.com/issues'>Read, submit issues</a>