.hero-unit
  %h1 WWEDU Development
  %br/
  %p
    %br/

  %h3 Open Projects
  %p
  %ul.nav.nav-list
    %li <a href='https://github.com/iboard/wat#wat-webapplicationtemplate'>WAT Web Application Template</a></li>
    %li <a href='https://github.com/iboard/CBA#cba---community-base-application-template'>CBA Community Base Application</a></li>
  
  %br/
  %br/
  %h3 WWEDU Staff only
  %br/        
  
  <a href='http://github.com/WWEDU' class='btn btn-warning'>Github for WWEDU Staff ...</a>
