
.alert.alert-info
  %h3 WWEDU's Github page
  %p For staff only.
  %br/
  %strong World Wide Education
  %br/
  4600 Wels, Austria
  %br/
  <a href='http://wwedu.com'>wwedu.com</a>
  %br/
  <a href='mailto:development@wwedu.com'>development@wwedu.com</a>
  %br/
  <a href='http://twitter.com/WWEDU'>@wwedu</a>
