.well
  %h3 Collaboration
  %ul.nav.nav-pull
    %li <a href='http://github.com/WWEDU'>WWEDU@Github (staff only)</a> 
    %li <a href='https://plus.google.com/u/0/b/106087911322992966237/106087911322992966237/about/p/pub'>+Collaboration</a>
    %li <a href='https://groups.google.com/forum/?hl=en&fromgroups#!forum/iboard-collaboration'>Discuss on Google Group</a>
    

  
